<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    {% block title %}<title>Home</title>{% endblock %}
  {% block styles %}
  {% endblock %}
  </head>
  <body style="background-image: url(static/imagens/fundo.png)">
    <div class="navbar">
      <img src="static/imagens/logo.png" alt="Logo da empresa" class="navimg" />
      <span class="navtxt">
        <a href="/">Home</a>
        <a href="/quem-somos">Quem somos</a>
        <a href="/contato">Contato</a>
      </span>
    </div>
    {% block content %}
    {% endblock %}
    <p class="direitos">todos os direitos reservados</p>
</body>
</html>