{% extends "base.html" %}
{% block title %}<title>Quem Somos</title>{% endblock %}
{% block styles %}
    <style>
      .texto {
        margin-top: 10px;
        margin-left: 300px;
        width: 910px;
      }
      .direitos {
        margin-left: 40%;
        text-transform: uppercase;
        font-weight: bold;
      }
    </style>
{% endblock %}
{% block content %}
    <div class="texto">
      <h1>Quem Somos</h1>
      <p>
        Enim proident aliquip nulla fugiat magna ut enim ut. Ullamco dolore
        consequat enim eiusmod laboris ex est quis. Officia pariatur tempor quis
        ut sint ex excepteur aliqua fugiat nulla adipisicing labore id. Nostrud
        elit commodo do officia laborum nisi officia enim aliquip. Ea occaecat
        nisi eu ipsum dolore qui et esse ad consequat.Deserunt amet commodo
        eiusmod laboris irure. Occaecat voluptate dolor in eu pariatur tempor
        nulla tempor consequat minim amet. Minim et amet nostrud non aliqua esse
        culpa.
      </p>
      <h1>5 motivos para estudar</h1>
      <p style="margin-left: 30px">
        1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
        2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
        3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
        4. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
        5. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
      </p>

      <h1>Objetivos</h1>
      <p>
        Deserunt magna cillum cillum laborum occaecat enim quis nisi fugiat id.
        Consectetur pariatur qui do qui id. Do ex sit incididunt dolor nisi
        magna. Ex minim elit do cillum duis velit in eiusmod. Aliqua officia
        amet cupidatat nostrud ut dolore excepteur consectetur. Adipisicing
        dolore ad anim id id velit Ut cupidatat commodo quis nostrud aute
        incididunt sit voluptate labore. Nulla velit occaecat reprehenderit non
        cupidatat anim quis eiusmod ipsum quis. Incididunt ut labore duis
        adipisicing Lorem consequat ea commodo id aute nisi amet.
      </p>
    </div>
{% endblock %}
